@model IEnumerable<Entities.Comment>
@foreach (var item in Model)
{
    <div class="CommentDiv" id="comment-@item.ID">
        <label class="control-label">@Html.ActionLink(@item.User.UserName,"Index",new {Controller="Posts",id=item.UserID})'s says:</label>
        @Html.DisplayFor(modelItem => item.Text)
        <br />
        <p class="Date">
            @Html.DisplayNameFor(modelItem => modelItem.Time)-
            @Html.DisplayFor(modelItem => item.Time)
        </p>
        
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "EditComment", id = "comment-" + item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "DeleteComment" })
    </div>
}



