@using BlogMVC.Helpers
@using Entities
@model Post

@{
    ViewBag.Title = Model.Title;
}

<h3 style="text-align:center;"> @Html.DisplayFor(modelItem => modelItem.Title)</h3>
<br />
<div class="blogDiv">

    @Html.Hidden("ID", Model.ID)
    @Html.CustomDisplay(modelItem => modelItem.Text)
    <br />
    <p class="Date">
        @Html.DisplayNameFor(modelItem => modelItem.Time)-
        @Html.DisplayFor(modelItem => modelItem.Time)
    </p>
</div>
<p>
    @if (Model.Blog.User.UserName == User.Identity.Name)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <label>|</label>
        @Html.ActionLink("Home page", "Index")<label>|</label>
    }
    @if (Model.Blog.User.UserName != User.Identity.Name)
    {
        @Html.ActionLink("Back to " + Model.Blog.User.UserName + "'s page", "Index", "Post", new { id = Model.Blog.User.ID }, null)<label>|</label>
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Hide", "HidePost", "Admin", new { id = Model.ID }, htmlAttributes: new { id = "HidePost" })<label>|</label>
    }
    @Html.ActionLink("Leave a comment", "Create", "Comments", new { id = "AddComment" })
</p>
<div id="CommentCreate" style="padding: 40px;">

</div>
<h3>Comments</h3>
<div id="CommentsList">

</div>
<script src="~/Scripts/Comments.js"></script>
<script src="~/Scripts/HidePost.js"></script>