@using BlogMVC.Helpers
@model Entities.Post

@{
    ViewBag.Title = "Удалить пост";
}

<h3>Вы уверены, что хотите это удалить?</h3>
<div>
  <div class="blogDiv">
        <h5> @Html.DisplayFor(modelItem => modelItem.Title)</h5>
        @Html.CustomDispay(modelItem => modelItem.Text)
        <br />
        <p class="Date">
            @Html.DisplayNameFor(modelItem => modelItem.Time)-
        @Html.DisplayFor(modelItem => modelItem.Time)
    </p>
        </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("На главную страницу", "Index")
        </div>
    }
</div>
