@using BlogMVC.Helpers
@model IEnumerable<BlogMVC.Models.Post>

@{
    ViewBag.Title = "Главная страница";
}

<h2>Главная страница</h2>

<p>
    @Html.ActionLink("Написать пост", "Create")
</p>


    @foreach (var item in Model)
    {
        <div class="blogDiv">
            <h5> @Html.DisplayFor(modelItem => item.Title)</h5>
           
                  @Html.CustomDispay(modelItem => item.Text)
            <br />
            <p class="Date">@Html.DisplayNameFor(modelItem=>modelItem.Time)-
                @Html.DisplayFor(modelItem => item.Time)
                </p>
           <br />
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Посмотреть подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </div>
            
    }


