@using BlogMVC.Helpers
@using Entities
@model IEnumerable<Post>

@{
    ViewBag.Title = "Home Page";
}

<h2>Home page</h2>

<p>
    @Html.ActionLink("Create a post", "Create")
</p>


    @foreach (var item in Model)
    {
        <div class="blogDiv">
            <h5> @Html.DisplayFor(modelItem => item.Title)</h5>
           
                  @Html.CustomDisplay(modelItem => item.Text)
            <br />
            <p class="Date">@Html.DisplayNameFor(modelItem=>modelItem.Time)-
                @Html.DisplayFor(modelItem => item.Time)
                </p>
           <br />
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
            
    }


