@using BlogMVC.Helpers
@using Entities
@model Post
@{
    ViewBag.Title = Model.Title;
}
<h3 style="text-align:center;"> @Html.DisplayFor(modelItem => modelItem.Title)</h3>
<br />
<div class="blogDiv">

    @Html.Hidden("ID", Model.ID)
    @Html.CustomDisplay(modelItem => modelItem.Text)
    <br />
    <p class="Date">
        @Html.DisplayNameFor(modelItem => modelItem.Time)-
        @Html.DisplayFor(modelItem => modelItem.Time)
    </p>
</div>

<p>
    @Html.ActionLink("Back to "+(string)ViewBag.Name+"'s page", "Index",new {Controller="Posts",id=Model.UserID})|
    @Html.ActionLink("Leave a comment", "Create", "Comments", new { id = "AddComment" })
</p>
<div id="CommentCreate" style="padding: 40px;">

</div>
<h3>Comments</h3>
<div id="CommentsList">

</div>
<script src="~/Scripts/Comments.js"></script>

